body{
    background: linear-gradient(to right, #00AAFF, #00FFBC);
    color: #12445e;
   
}
h1{
    padding-top: 2%;  
    font-size: 3vm;
}
.container{
    background-color: #eaedef;
    margin-top: 8%;
    width: 45%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result{
    font-size:30px;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #12445e;
}
input{
    width: 100%;
    padding: 9px 10px;
    box-sizing: border-box;
    background-color: #f1f1f1;
    border-radius: 5px;
    border-width: 0.5px;
    font-size: 18px;
}
button{
    text-align: left;
}

